<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View Course</title>
<!-- External CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
	rel="stylesheet">
<!-- Font -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">
<link rel="stylesheet"
	href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
</head>

<body class="p-3 mb-0 border-0 bd-example m-0 border-0"
	style="font-family: 'Nunito', sans-serif;">
	<header>
		<nav class="navbar fixed-top"
			style="background-color: #dee2e6; height: .85in; padding: 0.5rem 0.5rem;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">LearnSphere</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
					aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-end" tabindex="-1"
					id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Dash
							board</h5>
						<button type="button" class="btn-close"
							data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/studentHome">Home</a></li>
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" href="/register">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="py-3 mb-5 py-md-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mb-3 mb-md-0">
					<div class="bg-white border">
						<img th:src="@{'data:image/jpeg;base64,' + ${course.courseImage}}"
							class="w-100" alt="Img" height="300px">
					</div>
				</div>
				<div class="col-md-7 mt-md-6">
					<div class="product-view">
						<h4 class="product-name mb-1" th:text="${course.courseName}"
							style="font-weight: bold;">Course Name</h4>
						<hr>
						<!-- <div class="col-sm-12"> -->
						<div class="row mb-1">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Course ID:</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0 text-end" th:text="${course.courseId}"></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Course Price
									(INR):</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0 text-end" id="coursePrice"
									th:text="${course.coursePrice}"></p>
							</div>
							<div class="col-sm-12 mt-2">
								<div class="card">
									<div class="card-header bg-white">
										<h4>Description</h4>
									</div>
									<div class="card-body">
										<p th:text="${course.courseDescription}">Description</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="py-3 mb-5 py-md-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-7 mb-3 mb-md-0">
					<h4 class="mb-3">Billing Address</h4>
					<form id="payment-form" action="/api/order/createOrder"
						method="post">
						<div class="row">
							<!-- First Name -->
							<div class="col-sm-6">
								<label for="firstName" class="form-label">First name<span
									style="color: red;">*</span></label> <input type="text"
									class="form-control" id="firstName" placeholder="" value=""
									required>
								<div class="invalid-feedback">Valid first name is
									required.</div>
							</div>
							<!-- Last Name -->
							<div class="col-sm-6">
								<label for="lastName" class="form-label">Last name<span
									style="color: red;">*</span></label> <input type="text"
									class="form-control" id="lastName" placeholder="" value=""
									required>
								<div class="invalid-feedback">Valid last name is required.</div>
							</div>
						</div>

						<!-- Email -->
						<div class="col-sm-12 mt-2">
							<label for="email" class="form-label">Email<span
								style="color: red;">*</span></label> <input type="email"
								class="form-control" id="email" placeholder="" value="" required>
							<div class="invalid-feedback">Valid email is required.</div>
						</div>
						<!-- Hidden input fields for courseId and amount -->
						<input type="hidden" name="courseID" id="courseID"
							th:value="${course.courseId}"> <input type="hidden"
							name="amount" id="amount" th:value="${course.coursePrice}">
						<!-- Submit button -->
						<div class="col-sm-12 mt-4">
							<button type="submit"
								class="btn btn-success btn-add-to-cart mt-1 w-100"
								id="pay-button" style="font-weight: bold;">Proceed to
								checkout</button>
						</div>
					</form>
				</div>
				<div class="col-md-5 mt-md-6">
					<div class="product-view">
						<h4 class="product-name mb-1" th:text="${course.courseName}"
							style="font-weight: bold;">Course Name</h4>
						<hr>
						<!-- Course ID and Price -->
						<div class="row mb-3">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Course ID:</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0 text-end" id="courseId"
									th:text="${course.courseId}"></p>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Course Price
									(INR):</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0 text-end" id="coursePrice"
									th:text="${course.coursePrice}"></p>
							</div>
						</div>
						<!-- Promo Code, Discount Amount, and Total Amount sections -->
						<!-- Promo Code, Discount Amount, and Total Amount sections -->
						<div class="row mb-3 mt-2">
							<div class="col-sm-12">
								<div class="input-group">
									<label for="promoCode" class="input-group-text"
										style="font-weight: bold;">Promo Code</label> <input
										type="text" class="form-control" id="promoCode"
										placeholder="Enter promo code">
									<button class="btn btn-primary" onclick="applyPromoCode()">Apply</button>
								</div>
							</div>
						</div>
						<div class="row mb-3" id="discountAmountRow"
							style="white-space: nowrap;">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Discount Amount
									(INR):</p>
							</div>
							<div class="col-sm-6">
								<p class="mb-0 text-end discount-amount" id="discountAmount">0</p>
							</div>
						</div>
						<hr>
						<div class="row mb-3">
							<div class="col-sm-6">
								<p class="mb-0" style="font-weight: bold;">Total Amount
									(INR):</p>
							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control mb-0 text-end"
									id="amount" th:value="${course.coursePrice}" readonly>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<!-- RazorPay Payment Script -->
	<script>
		$("#payment-form").on("submit", function(e) {
			e.preventDefault();
			createOrder();
			return false;
		});

		function createOrder() {
			var email = $("#email").val();
			var courseID = $("#courseID").val();
			var amount = $("#amount").val();
			$.post("/api/order/createOrder", {
				email : email,
				courseID : courseID,
				amount : amount
			}).done(function(order) {
				order = JSON.parse(order);
				// Move the Razorpay modal opening outside the $.post callback
				openRazorpayModal(order);
			}).fail(function(error) {
				console.error("Error:", error);
			});
		}

		function openRazorpayModal(order) {
			var options = {
				"key" : "rzp_test_2atyh4iOGNhFr1",
				"amount" : order.amount_due.toString(),
				"currency" : "INR",
				"name" : "Learn Sphere",
				"description" : "Test Transaction",
				"order_id" : order.id,
				"handler" : function(response) {
					verifyPayment(response.razorpay_order_id,
							response.razorpay_payment_id,
							response.razorpay_signature);
				},
				"prefill" : {
					"name" : "Your Name",
					"email" : "test@example.com",
					"contact" : "9999999999"
				},
				"notes" : {
					"address" : "Your Address"
				},
				"theme" : {
					"color" : "#F37254"
				}
			};
			var rzp1 = new Razorpay(options);
			rzp1.open();
		}

		function verifyPayment(orderId, paymentId, signature) {
			$.post("/verify", {
				orderId : orderId,
				paymentId : paymentId,
				signature : signature
			}).done(function(isValid) {
				if (isValid) {
					console.log("Payment successful");
				} else {
					console.log("Payment failed");
				}
			}).fail(function(error) {
				console.error("Error:", error);
			});
			return false;
		}
	</script>


	<!-- Script for Promotional code and discount -->
	<script>
		function applyPromoCode() {
			var promoCode = document.getElementById("promoCode").value;
			if (promoCode === "PROMO100") {
				var coursePrice = parseFloat(document
						.getElementById("coursePrice").innerText);
				var discountAmount = 100;
				var amount = coursePrice - discountAmount;

				// Update the discount amount and total amount display
				document.getElementById("discountAmount").innerText = discountAmount;
				document.getElementById("amount").innerText = amount.toFixed(2);

				// Check if discountAmountRow is currently displayed
				var discountAmountRow = document
						.getElementById("discountAmountRow");
				var isDisplayed = window.getComputedStyle(discountAmountRow)
						.getPropertyValue("display");

				// Set display to 'block' only if it's currently not displayed
				if (isDisplayed === 'none') {
					discountAmountRow.style.display = 'block';
				}
			} else {
				alert("Invalid promo code");
			}
		}
	</script>


	<!-- Bootstrap JavaScript dependencies -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Thymeleaf footer inclusion -->
	<div th:replace="~{/footer::footer}"></div>
</body>
</html>
