<footer
	style="background: #adb5bd; padding: 30px 0 10px 0; font-size: 14px;">
	<div class="footer-top"
		style="background: #adb5bd url(/images/footer-bg.png) no-repeat right top; background-size: contain; border-top: 1px solid #e1ecff; border-bottom: 1px solid #e1ecff; padding: 60px 0 30px 0;">
		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-5 col-md-12 footer-info">
					<a href="/" class="logo d-flex align-items-center"
						style="line-height: 0; margin-bottom: 20px;"> <img
						src="/images/logo.png" alt=""
						style="max-height: 40px; margin-right: 6px;"> <span
						style="font-size: 30px; font-weight: 700; letter-spacing: 1px; color: #012970; font-family: 'Nunito', sans-serif; margin-top: 3px;">LearnSphere</span>
					</a>
					<p
						style="font-size: 16px; line-height: 24px; margin-bottom: 0; font-family: 'Nunito', sans-serif;">Unlock
						Your Potential: Discover endless learning opportunities with
						LearnSphere. Dive into our diverse courses, led by expert
						instructors, and embark on a journey of growth and discovery. Join
						us in shaping the future of education today</p>
					<div class="social-links mt-3">
						<a href="https://www.youtube.com/" target="_blank"><img
							src="/images/youtube.png" alt="YouTube"
							style="width: 30px; height: auto;"></a> <a
							href="https://www.facebook.com/" target="_blank"><img
							src="/images/facebook.png" alt="Facebook"
							style="width: 30px; height: auto;"></a> <a
							href="https://www.instagram.com/" target="_blank"><img
							src="/images/insta.png" alt="Instagram"
							style="width: 30px; height: auto;"></a> <a
							href="https://twitter.com/" target="_blank"><img
							src="/images/twitter.png" alt="Twitter"
							style="width: 30px; height: auto;"></a>
					</div>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4
						style="font-size: 18px; font-weight: bold; color: #012970; text-transform: uppercase; position: relative; padding-bottom: 12px;">Useful
						Links</h4>
					<ul
						style="font-size: 16px; list-style: none; padding: 0; margin: 0;">
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Home</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">About
								us</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Terms
								of service</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Privacy
								policy</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4
						style="font-size: 18px; font-weight: bold; color: #012970; text-transform: uppercase; position: relative; padding-bottom: 12px;">Our
						Services</h4>
					<ul
						style="font-size: 16px; list-style: none; padding: 0; margin: 0;">
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Java</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Python</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">SQL</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Manual
								Testing</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#"
							style="color: #013289; transition: 0.3s; display: inline-block; line-height: 1;">Web
								Technologies</a></li>
					</ul>
				</div>

				<div
					class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
					<h4
						style="font-size: 18px; font-weight: bold; color: #012970; text-transform: uppercase; position: relative; padding-bottom: 12px;">Contact
						Us</h4>
					<p style="line-height: 26px;">
						  Bangalore, KA 560029<br> India 
						<br> <br> <strong>Phone:</strong> +91 9876543210<br>
						<strong>Email:</strong> info@LearnSphere.com<br>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright"
			style="text-align: center; padding-top: 30px; color: #012970;">
			&copy; Copyright <strong><span>LearnSphere</span></strong>. All
			Rights Reserved
		</div>
	</div>
</footer>
